:root {
  --container-width: 90%;
  --container-max-width: 800px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.country-default {
  fill: rgba(0, 0, 0, 0.2);
  stroke: white;
}

.container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.axis-label {
  font-size: 1rem;
}
